

<button pButton type="button" label="Primary"></button>
<button pButton type="button" label="Secondary" class="p-button-secondary"></button>
<button pButton type="button" label="Success" class="p-button-success"></button>
<button pButton type="button" label="Info" class="p-button-info"></button>
<button pButton type="button" label="Warning" class="p-button-warning"></button>
<button pButton type="button" label="Help" class="p-button-help"></button>
<button pButton type="button" label="Danger" ></button>

<input type="text" pInputText />
<input pInputText type="text" class="p-inputtext-sm" />
<button pButton label="Button" class="p-button-lg" ></button>


<router-outlet></router-outlet>
